/.vscode
/Book1.xlsx
/book2.xlsx
/eyemouse.py
/geckodriver.log
/gps.py
/instabot.py
/mod.py
/Nccdatabase.py
/notify.py
/pandapro.py
/PR
/PROJECTDBMS.py
/PyWhatKit_DB.txt
/tempCodeRunnerFile.py
/test.c
/web.py
/__pycache__